body {
  /* min-height: 100%; */
  background-image: url('../assets/forest.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  /* background: url('../assets/forest.jpg') no-repeat center fixed; */
}